<div class="containerHome">
    <article class="authentication">
        <p>OLÁ! BEM VINDO AO<br><span>E-Trashway</span><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, in pariatur inventore atque et debitis aliquam. Deleniti, laboriosam officiis nam labore officia voluptate atque laudantium temporibus corrupti ea, dolor est.</p>
        <button class="register">Cadastre-se</button>
        <button class="login">Entre aqui</button>
    </article>
    <article class="secArticle">
        <h1>Título</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem porro, incidunt non inventore alias quibusdam tenetur, tempora doloremque tempore sit dolores dolorum, id cumque fugiat corporis quidem delectus quasi eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusamus dolore omnis repellat, quae excepturi praesentium voluptatem ex reprehenderit. Expedita, aspernatur modi! Vero culpa alias in, nam reiciendis dolor quaerat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur autem quibusdam minima unde vel omnis aliquam, animi maiores similique, praesentium accusantium nostrum iure quidem officia repellat expedita consequatur quisquam alias? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, commodi ex, voluptates beatae officia hic quos quis distinctio ab officiis quaerat optio? Ipsam amet, doloribus at sunt dolore rem cum.</p>
    </article>
</div>